<html>

  <body>
<script>

    var width = 500,
      height = 600,
      margintop = 50,
      marginbottom = 50,
      marginright = 10,
      marginleft = 50

    d3.csv("https://raw.githubusercontent.com/Lea1216/d3/main/heatmap.csv")
      .then(data => {
      console.log(data);

      // Add the axis *before* adding the SVG, because the order matters in HTML
      var axis = d3.select("#my_dataviz")
        .append("svg")
        .attr("width", width + marginleft + marginright)
        // Add 2 so you have a little bit of room left for the black bar
        // i.e. margin top has to be less than total height!
        .attr("height", margintop + 1)
        .append("g")
        .attr("transform", "translate(" + marginleft + ", " + margintop + ")");

      var svg = d3.select("#my_dataviz")
        .append("div")
        // Note the CSS rules for .chart
        .attr("class", "chart")
        .append("svg")
        .attr("width", width + marginleft + marginright)
        // No margin-top required here, because the other element already took care of it
        .attr("height", height + marginbottom)
        .append("g")
        // Same, no margin-top
        .attr("transform", "translate(" + marginleft + ", 0)");

      var x_axis = d3.scaleBand()
        .range([0, width])
        .domain(data.map(function(d) {
          return d.group;
        }))
        .padding(0.01);

      axis.call(d3.axisTop(x_axis))
        .selectAll("text")
        .style("text-anchor", "end")
        .style("position", "fixed")
        .attr("dx", 15)
        .attr("dy", 5)
        .attr("transform", "rotate(-65)");

      var y_axis = d3.scaleBand()
        .range([height, 0])
        .domain(data.map(function(d) {
          return d.activity;
        }))
        .padding(0.01);

      svg.append("g")
        .call(d3.axisLeft(y_axis))
        .attr("class", "y_axis")
        .selectAll("text")
        .on("click", function(d) {
          window.open(d.url, "_blank")
        });

      var myColor = d3.scaleLinear()
        .range(["white", "#C37B89"])
        .domain([1, 100])

      svg.selectAll()
        .data(data, function(d) {
          return d.group + ':' + d.activity;
        })
        .enter()
        .append("rect")
        .attr("x", function(d) {
          return x_axis(d.group)
        })
        .attr("y", function(d) {
          return y_axis(d.activity)
        })
        .attr("width", x_axis.bandwidth())
        .attr("height", y_axis.bandwidth())
        .style("fill", function(d) {
          return myColor(d.value)
        })
        .style("stroke-width", 1)
        .style("stroke", "none")

    })
</script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <div id="my_dataviz"></div>
</body>

<style>

  .rect {
  opacity: 0.8;
}

#my_dataviz {
  width: 600px;
  border: solid 1px red;
  position: fixed;
  height: 300px;

}

/* To make sure there is no space between the DIV and the SVG */
#my_dataviz > * {
  display: block;
}

.chart {
  overflow-y: hidden;
  max-height: 300px;
}

</style>
</html>